*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  margin: 0;
  font-family: "Rubik";
  font-size: 12px;
  color: #616161;
}

[class*=__container] {
  max-width: 1057px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.header {
  background: #FAFBFD;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.header__container {
  padding: 0 15px;
  display: flex;
  align-items: center;
  min-height: 114px;
}
.header__menu {
  flex: 1 1 auto;
}
.header__btn {
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  gap: 7px;
  align-items: center;
  padding: 0 2px;
}
.logo__name {
  color: #EC5863;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.logo__name span {
  color: #000;
}

.menu {
  display: flex;
  justify-content: flex-end;
}
.menu__list {
  display: flex;
}
.menu__item-link {
  margin-right: 40px;
  color: #000;
  font-family: Raleway;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.menu__item-link:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  color: #FCFDFE;
  font-family: Raleway;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.4px;
  border-radius: 5px;
  padding: 14px 29px;
  text-transform: uppercase;
  background: #EC5863;
}
.btn:hover {
  text-decoration: underline;
}
.btn_blue {
  background: #4285F4;
}

.get-started {
  background: #FAFBFD;
}
.get-started__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: 150px 15px 50px 15px;
}
.get-started__content {
  flex: 0 1 48%;
  padding: 0px 10px 0 15px;
}
.get-started__block-text {
  max-width: 410px;
  width: 100%;
}
.get-started__img {
  flex: 0 1 52%;
  position: relative;
  z-index: 5;
}
.get-started__img img {
  max-width: 100%;
}
.get-started__video {
  flex: 1 1 100%;
  margin-top: 60px;
}

.get-started__container::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 252px;
  top: 0;
  transform: translate(100%, 0px);
  border-radius: 30px 0 0 30px;
  background: #EC5863;
}

.block-text__title {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 55.44px;
  margin-bottom: 12px;
}
.block-text__blue-text {
  color: #4285F4;
}
.block-text__pink-text {
  color: #EC5863;
}
.block-text__text {
  color: #616161;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.62px;
  letter-spacing: 0.96px;
  margin-bottom: 24px;
}
.block-text__text_mw {
  max-width: 600px;
  margin: 0 auto;
}
.block-text_center {
  text-align: center;
}

.video-get-started {
  display: flex;
  align-items: center;
  gap: 12px;
}
.video-get-started__icon {
  width: 44px;
  height: 44px;
}
.video-get-started__desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.video-get-started__text {
  color: #B0B0B0;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.38px;
  letter-spacing: 1.04px;
}
.video-get-started__start {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 11.34px;
  letter-spacing: 1.485px;
  text-transform: uppercase;
}

.stay-save {
  background: #FAFBFD;
  padding: 80px 15px;
}
.stay-save__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.stay-save__media {
  flex: 0 1 50%;
}
.stay-save__content {
  flex: 0 1 50%;
  padding-left: 60px;
}

.media-stay-save {
  max-width: 373px;
  position: relative;
  text-align: center;
}
.media-stay-save__pic {
  box-shadow: 2px 4px 32px 0px rgba(0, 0, 0, 0.12);
  display: inline-block;
  border-radius: 16px;
  position: relative;
  z-index: 10;
}
.media-stay-save__item {
  border-radius: 30px;
  background: #EC5863;
  width: 77px;
  height: 77px;
  position: absolute;
}
.media-stay-save__item_top {
  top: 0;
  width: 147px;
  height: 147px;
}
.media-stay-save__item_center {
  bottom: 0;
  left: 35px;
}
.media-stay-save__item_bottom {
  bottom: 107px;
  right: 35px;
}

.media-stay-save__pic::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 12px;
  width: 206px;
  height: 27px;
  border-radius: 16px;
  background: rgba(240, 240, 240, 0.49);
}

.expert {
  background: #FAFBFD;
}
.expert__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 15px;
}
.expert__statistics {
  flex: 0 1 100%;
  margin-bottom: 79px;
}
.expert__body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 0 40px;
}
.expert__content {
  max-width: 400px;
}
.expert__media-frame {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
}
.expert__media-frame img {
  width: 521px;
  height: 284px;
}

.statistics-expert {
  position: relative;
}
.statistics-expert__body {
  margin: 0 auto;
  max-width: 654px;
  justify-content: space-between;
  display: flex;
  padding: 28px 80px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 2px 24px 0px rgba(88, 126, 236, 0.15);
  position: relative;
  z-index: 2;
}
.statistics-expert__decor {
  position: absolute;
  width: 65px;
  height: 65px;
  transform: rotate(-30deg);
  border-radius: 30px;
  background: #EC5863;
  opacity: 0.99;
}
.statistics-expert__decor_1 {
  border-radius: 16px;
  bottom: -31px;
  left: 181px;
  z-index: 1;
}
.statistics-expert__decor_2 {
  width: 97px;
  height: 97px;
  transform: rotate(105deg);
  top: -50px;
  left: 400px;
  z-index: 1;
}
.statistics-expert__decor_3 {
  width: 127px;
  height: 127px;
  bottom: 0;
  right: 110px;
  z-index: 1;
}

.body-statistics-expert__value {
  color: #EC5863;
  text-align: center;
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.04px;
  text-transform: uppercase;
}
.body-statistics-expert__value_color-black {
  color: #000;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 4.07px;
}

.healthcare__container {
  padding: 75px 15px;
}
.healthcare__content {
  margin: 0 0 45px 0;
}
.healthcare__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.healthcare__column {
  position: relative;
}
.healthcare__column_1::after, .healthcare__column_1::before, .healthcare__column_2::before, .healthcare__column_3::before {
  content: "";
  position: absolute;
  border-radius: 16px;
  background: #EC5863;
  z-index: -1;
  transform: rotate(-30deg);
}
.healthcare__column_1::after {
  width: 66px;
  height: 66px;
  bottom: -30px;
  left: -30px;
}
.healthcare__column_1::before {
  width: 97px;
  height: 97px;
  transform: rotate(105deg);
  right: -55px;
  top: 30px;
}
.healthcare__column_2::before {
  width: 128px;
  height: 128px;
  border-radius: 30px;
  right: -55px;
  bottom: -30px;
}
.healthcare__column_3::before {
  width: 66px;
  height: 66px;
  left: -30px;
  top: -15px;
}

.item-healthcare {
  height: 100%;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
  max-width: 278px;
  text-align: center;
  padding: 36px 18px;
}
.item-healthcare__icon {
  margin-bottom: 58px;
}
.item-healthcare__title {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 138.5%;
  letter-spacing: 1.28px;
  margin-bottom: 4px;
}
.item-healthcare__text {
  color: #616161;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.5%;
  letter-spacing: 0.96px;
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

@media screen and (max-width: 991.98px) {
  .get-started__container:before {
    right: 170px;
    border-radius: 20px 0 0 20px;
  }
  .media-stay-save {
    padding: 56px 0px 27px 0px;
  }
  .stay-save__content {
    padding-left: 0;
  }
  .expert__body {
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
  }
  .healthcare__items {
    flex-direction: column;
    gap: 29px;
    align-items: center;
  }
}
@media screen and (max-width: 767.98px) {
  .header__container {
    justify-content: space-between;
  }
  .header__menu {
    display: none;
  }
  .get-started__container:before {
    display: none;
  }
  .get-started__block-text {
    max-width: none;
  }
  .get-started__content {
    flex: 0 1 100%;
    padding: 0px 10px 0 15px;
  }
  .get-started__img {
    flex: 0 1 100%;
    text-align: center;
    padding: 30px 0;
  }
  .get-started__video {
    margin-top: 0px;
  }
  .block-text {
    text-align: center;
  }
  .stay-save__container {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .expert__container {
    flex-direction: column;
    gap: 30px;
  }
  .expert__media-frame img {
    max-width: 521px;
    width: 100%;
  }
  .body-statistics-expert {
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .expert__body {
    padding: 0;
  }
}/*# sourceMappingURL=styles.css.map */